{% extends "base.html" %}

{% block title %}Add Videos{% endblock title %}
{% block content %}
<div class="py-6 mb-40">
    <p class="pt-10 ml-3 pb-2">Click here to add an Html/Css Video &downarrow;</p>
<a href="/add_html_videos/" class="bg-yellow-600 ml-3 text-white p-1 rounded-md">Add!</a>
<p class="pt-10 ml-3 pb-2">Click here to add an JS Video &downarrow;</p>
<a href="/add_js_videos/" class="bg-yellow-600 ml-3 text-white p-1 rounded-md">Add!</a>
<p class="pt-10 ml-3 pb-2">Click here to add an Python Video &downarrow;</p>
<a href="/add_python_videos/" class="bg-yellow-600 ml-3 text-white p-1 rounded-md">Add!</a>
</div>
{% endblock content %}