{% extends "base.html" %}

{% block title %}Info{% endblock title %}
{% block content %}
<p class="p-6 pt-10 bg-gray-100 w-auto shadow-2xl"><b class="p-2 pt-10 w-auto shadow-xl">2023 (c) TigersSoftwareClass. All rights reserved.</b> <br><br>

     All rules and guidelines of usign this website are as follows: <br><br>
     This website is a web which accomodates people in need of computer skills <br>
     Frontend: <br><br>
     We offer HTML, CSS, JavaSript, Python, C++, etc. <br><br>
     Backend: <br><br>
     We offer Django, Node.js, Angular.js etc.<br><br>
     For the first 6months, we'll cover the core programming languages
     which are HTML, CSS, JavaScript and Python. <br><br>
     Only users that has made payment from the Programming Class 2023
     <br>can make access this website <br></p>
{% endblock content %}